.header{
    background-color: lightcyan;
    height: 100px;
}

.main{
    background-color: lightskyblue;
    height: 500px;
    display: flex;
}

.footer{
    background-color: lightseagreen;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: column;
}

.aside{
    background-color: bisque;
    width: 20%;
}

.article{
    width: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.bingkai img{
    width: 250px;
    margin: 1em;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bingkai{
    display: flex;
    justify-content: center;
}

h3{
    text-align: center;
}